/* Import fonts for the site */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* Global Styles */
body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #faf9f9;
    color: #2b3d41;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure body covers entire viewport */
}

h1,
h2,
h3,
h4,
h5,
h6,
.home-link {
    font-family: 'Rock Salt', cursive;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Header and Navigation */
.top-bar {
    height: 5em;
    background-color: #b5446e;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-link,
.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    background-color: #b5446e;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Ensure space between home link and nav links */
    align-items: center;
    padding: 0 20px; /* Add padding if necessary */
}

.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping if there isn't enough space */
}

.nav-links li {
    margin-right: 20px;
}

.search-form {
    margin-bottom: 1em;
}

.search-bar {
    flex-grow: 1; /* Allow the search bar to take up available space */
    max-width: 300px; /* Set a max-width for the search bar */
}

.search-bar input[type="text"],
.search-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-wrapper input {
    flex-grow: 1;
    padding-right: 40px;
}

.input-wrapper button {
    width: auto; /* Set the button width to fit its content */
    padding: 10px 15px; /* Add padding to the button for better appearance */
    background-color: #eacbd2;
    color: #fff;
    border: 1px solid #eacbd2;
    cursor: pointer;
    font-size: 16px;
    flex-shrink: 0; /* Prevent the button from shrinking */
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #faf9f9;
    border-bottom: 1px solid #ddd;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2rem;
}

/* Home Page Items */
.content {
    padding: 20px;
}

.hitem {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hitem a {
    text-decoration: none;
}

.hitem img {
    width: 100%;
    height: auto;
}

.hitem h2 {
    padding: 10px;
    background-color: #f8f8f8;
    margin: 0;
    font-size: 1.2rem;
    color: #b5446e;
}

/* Footer */
.footer {
    background-color: #2b3d41;
    padding: 20px;
    color: #faf9f9;
    margin-top: auto; /* Push the footer to the bottom */
    flex-shrink: 0; /* Ensure footer doesn't shrink */
    text-align: center; /* Center-align text */
}

.footer a {
    color: #faf9f9;
    text-decoration: none;
    margin: 0 10px; /* Space between links */
    font-size: 0.9rem; /* Adjust font size */
}

.footer a:hover {
    text-decoration: underline; /* Underline on hover */
}

.footer p {
    margin: 10px 0; /* Space between paragraphs */
    font-size: 0.8rem; /* Adjust font size for smaller text */
}

.footer .footer-links {
    margin-bottom: 10px; /* Space above links */
}

/* Login and Signup Containers */
.login-container,
.signup-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #faf9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #b5446e;
}

/* Search Results */
.search-results-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.results-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0;
    margin: 0;
}

.results-list.single-item {
    display: flex;
    justify-content: center;
}

.results-list.single-item .result-item {
    max-width: 400px;
}

.result-item {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.result-item p {
    margin-bottom: 1em;
}

.result-item h2 {
    font-size: 1.2em;
}

.item-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.description,
.price {
    margin: 10px 0;
    font-size: 1em;
}

.add-to-cart,
.user-dropdown-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #98c1d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #2b3d41;
}

/* Cart Page */
.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #faf9f9;
}

.cart-item h2 {
    margin: 0 0 5px;
}

.cart-item p {
    margin: 0;
}

.cart-item a {
    color: #b5446e;
    text-decoration: none;
}

.cart-item a:hover {
    text-decoration: underline;
}

.total-price {
    font-weight: bold;
}

.cart-navigation {
    margin-top: 20px;
}

.cart-navigation a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #b5446e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* User Info Page */
.user-info-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.user-info-container h1 {
    margin-bottom: 20px;
}

.user-info-container p {
    margin-bottom: 10px;
}

.user-info-form {
    margin-top: 20px;
}

.user-info-form label {
    display: block;
    margin-bottom: 5px;
}

.user-info-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.user-info-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b5446e;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.user-info-form button:hover {
    background-color: #eacbd2;
}

/* User Dropdown */
.user-dropdown {
    position: relative;
}

.dropdown-content {
    visibility: hidden;
    display: none;
    position: absolute;
    background-color: #98c1d9;
    min-width: 120px;
    z-index: 1;
    border-radius: 3px;
    right: 0;
    display: flex;
    flex-direction: column;
}

.user-dropdown:hover .dropdown-content {
    visibility: visible;
    display: block;
}

/* Flash Messages */
.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    margin-bottom: 5px;
    color: #d9534f;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* No Results */
.no-results {
    font-style: italic;
}

.back-to-home {
    display: block;
    margin-top: 20px;
    text-decoration: underline;
}

.filter-dropdown, .sort-dropdown {
    position: relative;
    display: inline-block;
}

.search-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.filter-dropdown:hover .search-dropdown-content,
.sort-dropdown:hover .search-dropdown-content {
    display: block;
}

.search-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.search-dropdown-content a:hover {
    background-color: #ddd;
}

/* Responsive Design */
@media (min-width: 1030px) {
    .results-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1029px) and (min-width: 600px) {
    .results-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .results-list {
        grid-template-columns: repeat(1, 1fr);
    }
}