<!-- /templates/cart.html-->
{% extends "layout.html" %}

{% block title %}Cart | Soaporium{% endblock %}

{% block content %}
<!-- Flash Messages for Errors or Other Notifications -->
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="cart-container">
    <h1>My Cart</h1>

    <!-- If there are items in cart -->
    {% if cart_items and cart_items|length > 0 %}
    <ul>
        {% for item in cart_items %}
        <li class="cart-item">
            <h2>{{ item.soap_name }}</h2> <!-- Soap name -->
            <p>Quantity: {{ item.soap_quantity }}</p> <!-- Quantity for each soap -->
            <p>Unit Price: ${{ item.unit_price }}</p> <!-- Unit price -->
            <p>Total Price: ${{ item.total_unit_price }}</p> <!-- Total price for each soap -->

            <div class="cart-quantity">
                    <!-- Decrease quantity button-->
                    <form action="{{ url_for('decrease_quantity', soapid=item.soapid) }}" method="POST">
                        <input type="hidden" name="redirect_url" value="{{ request.url }}">
                        <button type="submit" class="quantity-button decrease-quantity">-</button>
                    </form>
                    <!-- Increase quantity button -->
                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                        <input type="hidden" name="soapid" value="{{ item.soapid }}">
                        <input type="hidden" name="redirect_url" value="{{ request.url }}">
                        <button type="submit" class="quantity-button increase-quantity">+</button>
                    </form>
                </div>
        </li>
        {% endfor %}
    </ul>

    <p class="total-price">Total Price: ${{ total_price }}</p> <!-- Total price for the entire cart -->

    {% else %}
    <p>Your cart is empty</p>
    {% endif %}

    <!-- Navigation links -->
    <div class="cart-navigation">
        <p>
        <a href="{{ url_for('complete_order', cartid=cartid) }}">Complete order</a> | 
        <a href="{{ url_for('previous_carts') }}">View previous carts</a> | 
        <a href="{{ url_for('home') }}">Back to home</a>
        </p>
    </div>
</div>
{% endblock %}
