<!-- /templates/credit.html -->
{% extends "layout.html" %}

{% block title %}Credits | Soaporium{% endblock %}

{% block content %}
<div class="credit-page">
        <div class="credit-header">
                <h1>Image Credits</h1>
                <p>Disclaimer: none of the images on this site belong to me. If one or more of the images used on this
                        site belongs to you, and you'd like your image(s) taken down, please <a
                                href="{{ url_for('customer_service') }}">contact us.</a></p>
        </div>
        <hr>

        <!-- Image credits-->
        <div class="credit-list">
                <div class="credit-item">
                        <strong>Lavender:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/lavender-soap/" target="_blank">
                                The Scented Soap Deli - Lavender Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Citrus Burst:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/lemon-sorbet-soap/" target="_blank">
                                The Scented Soap Deli - Lemon Sorbet Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Oatmeal & Honey:</strong> <br> <a
                                href="https://holtonhomestead.com/oatmeal-honey-scrub-bar/" target="_blank">
                                Holton Homestead - Oatmeal Honey Scrub Bar <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Tea Tree Oil:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/lemon-tea-tree-soap/" target="_blank">
                                The Scented Soap Deli - Lemon Tea Tree Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Coconut Milk:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/coconut-vanilla-soap/"
                                target="_blank">
                                The Scented Soap Deli - Coconut Vanilla Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Peppermint Twist:</strong> <br> <a
                                href="https://lovelygreens.com/natural-peppermint-soap-recipe/" target="_blank">
                                Lovely Greens - Natural Peppermint Soap Recipe <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Shea Butter:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/manuka-honey-shea-butter-soap/"
                                target="_blank">
                                The Scented Soap Deli - Manuka Honey Shea Butter Soap <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Charcoal Detox:</strong> <br> <a
                                href="https://www.abubblymess.nz/product-page/charcoal-soap" target="_blank">
                                A Bubbly Mess - Charcoal Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Rosemary Mint:</strong> <br> <a
                                href="https://www.youtube.com/watch?app=desktop&v=qeMFm0PE0p4" target="_blank">
                                tellervo on Youtube - Homemade rosemary gel soap🌿 Natural cold process recipe <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Grapefruit Zest:</strong> <br> <a
                                href="https://www.youtube.com/watch?app=desktop&v=Rq-7wOJAZDA" target="_blank">
                                tellervo on Youtube - Fresh grapefruit & sea moss gel soap✨ Super luxurious recipe <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Chamomile Aloe:</strong> <br> <a
                                href="https://lovelygreens.com/natural-chamomile-soap-recipe-soap-making-instructions/"
                                target="_blank">
                                Lovely Greens - Natural Chamomile Soap Recipe <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Avocado & Cucumber:</strong> <br> <a href="https://www.youtube.com/watch?v=W89w3dMTfEE"
                                target="_blank">
                                tellervo on Youtube - Homemade fresh avocado soap🥑 Smooth & creamy natural recipe <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Blackberry Sage:</strong> <br> <a
                                href="https://botanicususa.com/patchouli-blackberry-soap-3-7oz-pre-order/"
                                target="_blank">
                                Botanicus - Patchouli Blackberry Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Jasmine Blossom:</strong> <br> <a
                                href="https://samishaorganic.com/products/organic-aloevera-jasmine-anti-blemish-bath-bar-100gm"
                                target="_blank">
                                Sami's Organic - Organic Aloe Vera Jasmine Anti Blemish Bath Bar <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Cedarwood & Sage:</strong> <br> <a
                                href="https://www.flora-goods.com/products/cedar-sage?_pos=1&_sid=53e8bd159&_ss=r"
                                target="_blank">
                                Flora Goods - Cedar + Sage Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Exotic Mango:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/mango-butter-bar-soap/"
                                target="_blank">
                                The Scented Soap Deli - Mango Butter Bar Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Lavender Mint:</strong> <br> <a
                                href="https://stonestepsfarmwhidbeyisland.com/products/lavender-mint?_pos=4&_sid=2b53da8e2&_ss=r"
                                target="_blank">
                                Stone Steps Farm - Lavender Mint Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Milk & Honey:</strong> <br> <a
                                href="https://dionisgmskincare.com/products/milk-honey-goat-milk-bar-soap-bundle"
                                target="_blank">
                                Dionis Goat Milk Skincare - Milk Honey Goat Milk Bar Soap <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Tea Tree & Eucalyptus:</strong> <br> <a
                                href="https://lovelygreens.com/herbal-eucalyptus-soap-recipe/" target="_blank">
                                Lovely Greens - Herbal Eucalyptus Soap Recipe <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Pomegranate & Raspberry:</strong> <br> <a
                                href="https://westparksoap.com/products/pomegranate-artisan-bar-soap" target="_blank">
                                Westpark Soap - Pomegranate Artisan Bar Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Orange Blossom:</strong> <br> <a
                                href="https://www.freepik.com/free-photo/orange-soap-with-fresh-orange-dark-wooden-background_14746068.htm#query=orange%20soap&position=2&from_view=keyword&track=ais_hybrid&uuid=7b625eb8-db82-4c36-8e7f-f1687ff4c181"
                                target="_blank">
                                jcomp on Freepik - Orange soap with fresh orange on dark wooden background <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Mint & Green Tea:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/olive-oil-cocoa-butter-green-tea-soap/"
                                target="_blank">
                                The Scented Soap Deli - Olive Oil Cocoa Butter Green Tea Soap <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Coconut Lime:</strong> <br> <a
                                href="https://artisansoapworks.com.au/product/coconut-lime/" target="_blank">
                                Artisan Soapworks - Coconut Lime <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Spiced Cinnamon:</strong> <br> <a
                                href="https://beehivesoap.com/products/oatmeal-milk-honey-cinnamon-soap"
                                target="_blank">
                                Beehive Soap - Oatmeal Milk Honey Cinnamon Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Black Tea & Ginger:</strong> <br> <a
                                href="https://butternsoapco.ca/products/ginger_root_herbal_soap" target="_blank">
                                Butter n Soap Co - Ginger Root Herbal Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Sea Salt & Bergamot:</strong> <br> <a
                                href="https://www.etsy.com/nz/listing/776924362/peppermint-tea-tree-organic-soap-bar"
                                target="_blank">
                                PureChakraCo on Etsy - Peppermint Tea Tree Organic Soap Bar <i
                                        class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Rose Petal:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/rose-soap/" target="_blank">
                                The Scented Soap Deli - Rose Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Honey Almond:</strong> <br> <a
                                href="https://www.freepik.com/premium-ai-image/closeup-bar-honey-almond-soap-with-honeycomb-almonds_272790354.htm"
                                target="_blank">
                                nattysiri on Freepik - Closeup of a bar of honey and almond soap with honeycomb and
                                almonds <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Wildberry & Vanilla:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/vanilla-soap/" target="_blank">
                                The Scented Soap Deli - Vanilla Soap <i class="fa fa-external-link"></i></a>
                </div>
                <div class="credit-item">
                        <strong>Frangipani:</strong> <br> <a
                                href="https://thescentedsoapdeli.co.nz/shop/soaps/tropical-frangipani-soap/"
                                target="_blank">
                                The Scented Soap Deli - Tropical Frangipani Soap <i class="fa fa-external-link"></i></a>
                </div>
        </div>
</div>

{% endblock %}