<!-- templates/faqs.html -->
{% extends "layout.html" %}

{% block title %}FAQs | Soaporium{% endblock %}

{% block content %}
<div class="faqs-page">
    <h1>Frequently Asked Questions</h1>

    <h2>Q: Is this a real soap merchandiser?</h2>
    <p>A: Nope! This is a school project.</p>

    <h2>Q: What types of soap do you offer?</h2>
    <p>A: We offer a wide range of soaps, including bar soaps, liquid soaps, and specialty soaps for different skin types.</p>

    <h2>Q: How can I contact customer support?</h2>
    <p>A: You can reach out to us via the <a href="">contact form</a> on our website or email us at support@soaporium.com.</p>

    <h2>Q: What is your return policy?</h2>
    <p>A: Since this is a school project, there are no real returns. But in a real scenario, we would offer a 30-day return policy.</p>
</div>
{% endblock %}
