<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Soaporium{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="top-bar">
        <a href="{{ url_for('home') }}" class="home-link"><i class="fa fa-home"></i> Soaporium</a>
        <nav class="navbar">
            <ul class="nav-links">
                <!-- Search bar in the nav bar -->
                <li class="search-bar">
                    <form action="{{ url_for('search') }}" method="get">
                        <div class="input-wrapper">
                            <input type="text" name="search_term" placeholder="Search...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>

                {% if session.get("userid") %}
                <li><a href="{{ url_for('view_current_cart') }}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li class="user-dropdown">
                    <button class="user-dropdown-btn"><i class="fa fa-list"></i> Hi, {{ user_firstname }}</i></button>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('userinfo', userid=session.get('userid')) }}">My account</a></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Sign
                                out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div class="footer links">
            <p><a href="{{ url_for('about') }}">About us</a></p>
            <p><a href="{{ url_for('customer_service') }}">Contact us</a></p>
            <p><a href="{{ url_for('faqs')}}">FAQs</a></p>
            <p><a href="{{ url_for('credit') }}">Image credits</a></p>
            <p>Soaporium &COPY; 2024</p>
        </div>
    </div>
</body>

</html>