<!-- templates/previous_carts.html -->
{% extends "layout.html" %}

{% block title %}Previous Carts | Soaporium{% endblock %}

{% block content %}
<h1>Previous Carts</h1>

{% if completed_carts and completed_carts|length > 0 %}
<ul>
    {% for cart in completed_carts %}
    <li>
        Cart ID: {{ cart[0] }}
        <br>
        Order Date: {{ cart[2] }}
        <br>
        <a href="{{ url_for('view_previous_order', cartid=cart[0]) }}">View contents</a>
        <br>
        <br>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No previous carts found.</p>
{% endif %}
{% endblock %}
