{% extends "layout.html" %}

{% block title %}Search Results | Soaporium{% endblock %}

{% block content %}
<div class="search-results-container">
    <h1>Search Results</h1>

    <!-- Large search bar for the search page -->
    <form action="{{ url_for('search') }}" method="get" class="search-form">
        <div class="input-wrapper">
            <li class="sort-dropdown">
                <button class="sort-button">Sort <i class="fa fa-unsorted"></i></button>
                <ul class="search-dropdown-content">
                    <li>
                        <a href="{{ url_for('search', search_term=search_term, sort='alpha') }}">
                            Alphabetical
                        </a>
                    </li>
                    <li>
                        <a
                            href="{{ url_for('search', search_term=search_term, sort='ascending') }}">
                            Price: $-$$$
                        </a>
                    </li>
                    <li>
                        <a
                            href="{{ url_for('search', search_term=search_term, sort='descending') }}">
                            Price: $$$-$
                        </a>
                    </li>
                </ul>
            </li>

            <input type="text" name="search_term" placeholder="Search..." value="{{ search_term }}">
            <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </div>
    </form>

    <!-- Clear Filters Link -->
    <li class="clear-filters">
        <p><a href="{{ url_for('search', search_term=search_term) }}">Reset sort</a></p>
    </li>

    {% if results and results|length > 0 %}
    <ul class="results-list">
        {% for item in results %}
        <li class="result-item">
            <div class="soap-info">
                <img src="{{ item[4] }}" alt="{{ item[1] }}" class="item-image">
                <h2>{{ item[1] }}</h2> <!-- Soap name -->
                <p class="description">{{ item[2] }}</p> <!-- Soap description -->
                <p class="price">${{ item[3] }}</p> <!-- Soap price -->

                {% if item[0] in cart_quantities %}
                <!-- If the soap is already in the cart -->
                <div class="cart-quantity">
                    <form action="{{ url_for('decrease_quantity', soapid=item[0]) }}" method="POST">
                        <input type="hidden" name="redirect_url" value="{{ request.url }}">
                        <button type="submit" class="quantity-button decrease-quantity">-</button>
                    </form>
                    <span class="quantity-display">{{ cart_quantities[item[0]] }}</span>
                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                        <input type="hidden" name="soapid" value="{{ item[0] }}">
                        <input type="hidden" name="redirect_url" value="{{ request.url }}">
                        <button type="submit" class="quantity-button increase-quantity">+</button>
                    </form>
                </div>
                {% else %}
                <!-- If the soap is not in the cart -->
                <form action="{{ url_for('add_to_cart') }}" method="POST">
                    <input type="hidden" name="soapid" value="{{ item[0] }}">
                    <input type="hidden" name="redirect_url" value="{{ request.url }}">
                    <button type="submit" class="add-to-cart">Add to Cart</button>
                </form>
                {% endif %}

            </div>

            <!-- Flash Message for Specific Soap -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if item[1] in message %}
            <ul class="flash-messages">
                <li class="{{ category }}">{{ message }}</li>
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <hr>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-results">No results found</p> <!-- If no results, show this message -->
    {% endif %}

    <!-- Link back to home -->
    <a href="{{ url_for('home') }}" class="back-to-home">Back to Home</a> <!-- Navigation back to home -->
</div>
{% endblock %}