{% extends "layout.html" %}

{% block title %}Update {{ field.replace('_', ' ').title() }} | Soaporium{% endblock %}

{% block content %}
<div class="update-info-container">
    <h2>Update {{ field.replace('_', ' ').title() }}</h2>
    <form method="POST" class="update-form">
        <label for="{{ field }}">{{ field.replace('_', ' ').title() }}</label>
        <input type="text" id="{{ field }}" name="{{ field }}" required>

        <button type="submit" class="update-button">Update {{ field.replace('_', ' ').title() }}</button>
    </form>
    <br>
    <a href="{{ url_for('userinfo', userid=userid) }}"><button type="button" class="cancel-button">Cancel</button></a>
</div>
{% endblock %}
