<!-- templates/user_info.html -->
{% extends "layout.html" %}

{% block title %}My Account | Soaporium{% endblock %}

{% block content %}
<div class="user-info-container">
    <h1>My Account</h1>

    {% if user %}
    <p><strong>First Name:</strong> {{ user[1] }}</p>
    <a href="{{ url_for('update_info', field='fname') }}" class="update-link">Update first name</a>
    <p><strong>Last Name:</strong> {{ user[2] }}</p>
    <a href="{{ url_for('update_info', field='lname') }}" class="update-link">Update last name</a>
    <p><strong>Email:</strong> {{ user[10] }}</p>
    <a href="{{ url_for('update_info', field='email') }}" class="update-link">Update email</a> | 
    <a href="{{ url_for('update_info', field='password') }}" class="update-link">Update password</a>

    <hr>

    {% if user[3] and user[4] and user[5] and user[6] and user[7] and user[8] and user[9] %}
    <!-- If user has provided address -->
    <p><strong>Current Shipping Address</strong></p>
    <p>{{ user[3] }} {{ user[4] }}</p>
    <p>{{ user[5] }}, {{ user[6] }}</p>
    <p>{{ user[7] }}, {{ user[8] }}</p>
    <p>{{ user[9] }}</p>
    <a href="{{ url_for('update_info', field='address') }}" class="update-link">Update address</a>
    
    {% else %}
    <p>Looks like you haven't filled your shipping address in. Please <a
            href="{{ url_for('update_info', field='address') }}">update your address.</a></p>

    {% endif %}
    <br><p><a href="{{ url_for('delete_account') }}" class="delete-account-link">Delete account</a></p>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% endif %}

</div>
{% endblock %}